@import "node_modules/bulma/sass/utilities/initial-variables"

//Customization

@import "node_modules/bulma/bulma"

$success: hsl(141, 71%, 98%)
$white-bis: hsl(0, 0%, 97%)
$h2: hsl(0, 1%, 24%)
$hr: hsl(0, 1%, 100%)

.container
    width: auto
    background: $white-bis

hr
    width: 65%
    margin: auto

.title
    color: $h2
    margin-top: -15px    

blockquote
    width: 35%
    margin: auto
    margin-bottom: 2%